version: "3.9"

services:
  savoria-app:
    container_name: savoria-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    env_file:
      - .env
    environment:
      NODE_ENV: development
      MONGO_URI: ${DATABASE_URL}

    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: savoria-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
